.address {
    text-align: right;
    font-style: normal;
    line-height:25px;
}
.send {
    text-align:left;
    font-style: normal;
    line-height:25px;
  
}
.dear {
    word-spacing:normal   
    ;
}
.find_more {
    line-height:25px;
}
